.bgfinance {
    /* background-image: url('../image/programBg.jpeg'); */
    background-color: rgb(5, 57, 161);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 120px;
    box-shadow: 2px 2px 10px rgb(9, 9, 86);
  }
  