.bgfinance {
    /* background-image: url('../image/programBg.jpeg'); */
    background-color: rgb(34,14,63);
    background-size: 100%;
    background-repeat: no-repeat;
    margin-top: 120px;
    box-shadow: 1px 1px 10px rgb(27, 27, 68);
  }
  